<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/homework/layout/layout풀이.css" />
  </head>
  <body>
    <div class="container">
      <div class="blog-content">
        <div>
          <img src="../../../img/lion.png" alt="사자" class="blog-profile" />
          <div class="blog-name">
            <h4 style="margin: 5px">이름</h4>
            <p style="margin: 5px">날짜</p>
          </div>
        </div>
        <div style="clear: both">
          <div>블로그 글</div>
          <p>가성비 맛집 발견</p>
        </div>
      </div>
      <div class="blog-img">
        <img
          src="../../../img/6jIZ.gif"
          alt="누워있는 사진"
          style="width: 100%; height: 100%"
        />
      </div>
    </div>
  </body>
</html>
